<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
        letter-spacing: 1px;
      }
      .main {
        background: linear-gradient(
              135deg,
              rgba(18, 25, 44, 0.5),
              rgba(255, 179, 0, 0.5)
            )
            0% 0% / cover no-repeat fixed,
          url(images/loginbackground.jpg);
        background-size: cover;
      }
    </style>
  </head>
  <body>
